<mat-card>
    <mat-card-header>
      <mat-card-title>
        {{currentLesson.title | json}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let item of courseLessons" (click)="onClick(item)">
          {{item.title}}
        </mat-list-item>
      </mat-list>
      <mat-card>
        <mat-card-header>
          <mat-card-title>DEBUG</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span *ngIf="currentLesson; else elseBlock">{{currentLesson | json}}</span>
          <ng-template #elseBlock>No Data</ng-template>
        </mat-card-content>
      </mat-card>
      <!-- <span [style.color]="changeColor">Some Colored Text{{themeColor}}</span>
      <mat-form-field class="example-full-width">
        
        
        <br/>
        <mat-label>Favorite food</mat-label> -->
        <!-- We need to import Form Module for Input OtherWise it wont work -->

        <!-- <input matInput [(ngModel)]="changeColor" />
        <button mat-button (click)="onClick()">Action</button> -->
      <!-- </mat-form-field> -->
    </mat-card-content>
  </mat-card>